@import './palette';
@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px/1.4 'Karla', sans-serif;
  background-color: $color-body;
  color: $color-text;
}

h1 {
  font-size: 2rem;
  margin-bottom: $space-big;
  color: $color-primary;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: $space-medium;
}

p {
  line-height: 1.4;

  & + & {
    margin-top: $space-medium;
  }
}
